<app-show-error *ngIf="error" [(error)]="error"></app-show-error>

<div class="flex-horizontal full-width mt-3">
  <button class="btn btn-light mt-1" (click)="reloadHorses()">&#x21bb;</button>
  <button class="btn btn-outline-primary mt-1" (click)="search=!search">Toggle Search</button>
</div>

<div *ngIf="search">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">

    <label for="dob">Date of Birth</label>
    <input type="date" class="form-control" id="dob" formControlName="dob">

    <label for="sex">Sex</label>
    <select class="form-control" id="sex" formControlName="sex">
      <option value=""> -- no selection -- </option>
      <option *ngFor="let sex of sexes">{{sex}}</option>
    </select>

    <label for="foodId">Food</label>
    <app-search-food id="foodId" (ngModel)="setFoodId($event)"></app-search-food>

    <button *ngIf="search" type="submit" class="btn btn-success mt-1 border-1">Search</button>
  </form>
</div>


<div class="mt-3">
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Sex</th>
      <th>Favourite food</th>
    </tr>
    <tbody>
      <tr  *ngFor="let horse of horses">
        <td routerLink="/horses/{{horse.id}}/details">{{horse.name}}</td>
        <td routerLink="/horses/{{horse.id}}/details">{{horse.dob}}</td>
        <td routerLink="/horses/{{horse.id}}/details">{{horse.sex}}</td>
        <td routerLink="/horses/{{horse.id}}/details">{{horse.food.name}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/horses/{{horse.id}}/edit">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteHorse(horse.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
