<div class="container mt-3">
  <div *ngIf="error.error.message !== undefined" class="alert alert-danger" role="alert">
    <h4>Error: {{error.error.message}}</h4>
    <button type="button" (click)="vanishError()" class="btn btn-close" data-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="error.error.message === undefined" class="alert alert-danger" role="alert">
    <h4>Error: Backend not responding</h4>
    <button type="button" (click)="vanishError()" class="btn btn-close" data-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
