<app-show-error *ngIf="error" [(error)]="error"></app-show-error>

<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">
    <h1>Create horse</h1>
    <app-horse-form [formControl]="form"></app-horse-form>
    <button type="button" class="btn btn-outline-dark" routerLink="/horses/">Back to Search</button>
    <button type="submit" class="btn btn-success"  [disabled]="!form.valid">Submit new Horse</button>
  </form>
</div>

<div *ngIf="submitted">
  <div *ngIf="loading">
    <h1>Creating horse ...</h1>
  </div>

  <div *ngIf="!createdHorse && !loading">
    <h1 *ngIf="error">Could not create horse!</h1>
  </div>

  <div *ngIf="createdHorse && !loading">
    <h1>Created Horse:</h1>
    <app-show-horse [model]="createdHorse"></app-show-horse>
  </div>
  <button type="reset" class="btn btn-primary" (click)="newHorse()">Create another</button>
</div>
