<app-show-error *ngIf="error" [(error)]="error"></app-show-error>

<div [hidden]="submitted">
  <h1>Create horse</h1>
  <app-horse-form [model]="model" (emitter)="onSubmit($event)"></app-horse-form>
</div>

<div *ngIf="submitted">
  <div *ngIf="!createdHorse">
    <h2 *ngIf="!error">Waiting while new Horse gets created...:</h2>
    <h2 *ngIf="error">Horse that was failed to create:</h2>
    <app-show-horse [model]="model"></app-show-horse>
  </div>

  <div *ngIf="createdHorse">
    <h2>Created Horse:</h2>
    <app-show-horse [model]="createdHorse"></app-show-horse>
  </div>
  <button type="reset" class="btn btn-primary" (click)="newHorse()">New horse</button>
</div>
