<div [formGroup]="formGroup" *ngIf="formGroup">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter name here">
    <div [hidden]="inputOk('name')" class="alert alert-danger">
      Name must not be empty
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" formControlName="description"
           placeholder="Enter description here">
  </div>

  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input type="date" [max]="date" class="form-control" id="dob" formControlName="dob" name="dob">
    <div [hidden]="inputOk('dob')" class="alert alert-danger">Date of birth must be selected</div>
  </div>

  <div class="form-group">
    <label for="sex">Sex</label>
    <select class="form-control" id="sex" required formControlName="sex">
      <option hidden selected> -- select an option -- </option>
      <option *ngFor='let sex of sexes'>{{sex}}</option>
    </select>
    <div [hidden]="inputOk('sex')" class="alert alert-danger">Sex must be selected</div>
  </div>

  <div class="form-group">
    <label for="food">Favourite Food</label>
    <app-search-food id="food" formControlName="food"></app-search-food>
  </div>

  <div class="form-group">
    <label for="father">Father</label>
    <app-search-horse id="father" formControlName="father" [query]="{sex: 'Male', dob: formGroup.get('dob').value}"></app-search-horse>
  </div>

  <div class="form-group">
    <label for="mother">Mother</label>
    <app-search-horse id="mother" formControlName="mother" [query]="{sex: 'Female', dob: formGroup.get('dob').value}"></app-search-horse>
  </div>
</div>
