<!--  (ngSubmit)="onSubmit()"-->
<form [formGroup]="form" (focusout)="focusOut()" (focusin)="focusIn()">
  <div class="form-group">
    <div style="display: flex">
      <table class="table border" *ngIf="selected" (click)="unselect()">
        <tbody>
          <tr><td>{{selected.name}}</td><td>{{selected.description}}</td><td>{{selected.calories}}</td></tr>
        </tbody>
      </table>
      <input (keyup)="onSubmit()" *ngIf="!selected"
             type="text"
             class="form-control"
             formControlName="name"
             id="name"
             autocomplete="off">
      <button style="align-self: center" type="reset" class="btn btn-close" (click)="reset()"></button>
    </div>
    <table class="table table-hover border" *ngIf="searchResult && !selected">
      <tbody>
        <tr *ngFor="let food of searchResult.slice(0,5)" (click)="select(food)">
          <td>{{food.name}}</td><td>{{food.description}}</td><td>{{food.calories}}</td>
        </tr>
      </tbody>
    </table>


  </div>
</form>

